* {
  box-sizing: border-box; }

.container {
  border: 2px solid #00b8c7;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  height: 290px;
  overflow: hidden;
  width: 500px; }

.heading {
  background-color: #00c6d6;
  border-top: 2px solid #00b8c7;
  color: white;
  font-size: 1rem;
  height: 42px;
  line-height: 42px;
  margin: 0;
  padding-left: 1.8rem; }

.headingTop {
  border-top: 0; }

.heading:hover {
  background-color: #00daec;
  cursor: pointer; }

.paragraph {
  font-size: .8rem;
  height: 0;
  margin: 0;
  overflow: scroll;
  padding: 0 1.8rem;
  -webkit-transition: height 0.6s;
  -moz-transition: height 0.6s;
  -ms-transition: height 0.6s;
  transition: height 0.6s; }

.paragraph.active {
  height: 160px;
  padding: 1.8rem 1.8rem 0 1.8rem;
  -webkit-transition: height 0.6s;
  -moz-transition: height 0.6s;
  -ms-transition: height 0.6s;
  transition: height 0.6s; }
