/* Main CSS file */
* {
  box-sizing: border-box;
}

/* **** STYLING FOR CONTAINER ****
[x] - border of 2px, solid, color rgb(0, 184, 199);
[x] - width ~ 35 rem?
[] -
*/

.container {
  border: 2px solid rgb(0, 184, 199);
  width: 35rem;
}


/* **** STYLING FOR HEADINGS ****
[x] - font of sans-serif
[x] - text color of white
[x] - background color of rgb(0, 198, 214);
[x] - light font weight
[x] - top border to match the container border
[] - @TODO - make section one top border of nothing
[] - @TODO - hover hand
[x] - font size?
[x] - no margins!!!!
[] - padding left ~2rem
[] - height of ~3rem
*/

.heading {
  background-color: rgb(0, 198, 214);
  border-top: 2px solid rgb(0, 184, 199);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  height: 3.3rem;
  line-height: 3.3rem;
  margin: 0;
  padding-left: 1.8rem;
}

/* **** HEADINGS WHILE HOVERED OR SELECTED **** */
.heading.active, .heading:hover {
  background-color: rgb(0, 218, 236);
}


/* **** STYLING FOR PARAGRAPHS ****
[x] - small font-size
[] - padding left/right follows suit
[] - padding top/bottom ~3rem
[] - light font weight
[x] - font family of helvetica/sans-serif
[] -
[] -
*/

.paragraph {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  padding: 1.8rem 1.8rem 0 1.8rem;
  display: none;
}
